*{
    padding: o;
    margin: o;
    box-sizing: border-box;
}
.body{
    
} 
.artist a{
    text-transform: uppercase;
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
    
}
.gos{
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}
.numbers{
    color: aqua;
}
h1{
    color: bisque;
    text-transform: uppercase;
}
.shh{
    border: 20 px;
}
li:hover {
    cursor: pointer;
    color: black;
}
a:hover {
    color: black;
}
